*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.outer-div{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.inner-div{
height: 90vh;
width: 40%;
/* background-color: yellow; */
display: flex;
flex-direction: column;
align-items: center;


}


.input-feild{
    height: 50px;
    width: 50%;
    border-radius: 50px;
    font-size: 30px;
    padding-left: 30px;
}

.submit-btn{
    height: 50px;
    width: 20%;
    border-radius: 50px;
    cursor: pointer;
}
.input-submit{
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.list{
    height: 70vh;
    width: 80%;
    /* background-color: pink; */
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    text-decoration: none;
    list-style-type: none;
}
.clr-btn{
    height: 30px;
    width: 100px;
    border-radius: 50px;
    cursor: pointer;
}